:root {
  --cyan: hsl(179, 62%, 43%);
  --light-cyan: hsl(179, 62%, 43%, 80%);
  --yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grey-blue: hsl(218, 22%, 67%)
}

body {
  background-color: var(--light-gray);
  color: var(--grey-blue);
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  margin: 0 auto;
}

main {
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  /* justify-content: center; */
  /* align-items: center; */
  align-content: center;
  width: 600px;
  margin: 50px auto;
}

section {
  /* width: 400px;
  flex: 1 1 400px;
  flex-basis: 400px; */
  /* min-width: 300px; */
}

section#first {
  /* flex-grow: 2; */
  padding: 30px;
}

section#second, section#third {
  /* flex-grow: 1; */
  width: calc(50% - 60px);%;
}

#second, #third {
  color: #ffffff;
  padding: 30px;
}

#second {
  border-radius: 0 0 0 5px;
  background-color: var(--cyan);
}

#third {
  border-radius: 0 0 5px 0;
  background-color: var(--light-cyan);
}

/* Text */

h1 {
  color: var(--cyan)
}

h1+p {
  color: var(--yellow);
  font-weight: bold;
}

h2 {
  font-size: 1em;
}

.price {
  font-size: 2em;
  font-weight: bold;
}

/* List */

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
}

/* Button */

button {
  border-radius: 7px;
  color: #ffffff;
  width: 100%;
  height: 45px;
  background-color: var(--yellow);
  border: none;
  font-weight:bold;
}
